@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model MovieRatingAppBackEnd.Models.Enrollment

<h2>Delete Enrollment</h2>

<div>
    <h4>Are you sure you want to remove this enrollment?</h4>
    <dl class="row">
        <dt class="col-sm-2">Student</dt>
        <dd class="col-sm-10">@Model.Student?.Name</dd>
        <dt class="col-sm-2">Course</dt>
        <dd class="col-sm-10">@Model.Course?.Name</dd>
    </dl>

    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
